<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>add_article</title>
    <script src="/static/tiny_mce/tiny_mce.js"></script>
    <script>
        tinyMCE.init({
        'mode': 'textareas',
        'theme': 'advanced',
        'width': 400,
        'height': 200,
        })
    </script>
</head>
<body>
<form method="post" action="">
    {% csrf_token %}

    <input name="title" placeholder="请输入标题">
    <br>
    <textarea name="content" placeholder="请输入内容"></textarea>
    <br>
    <button type="submit">发表文章</button>
</form>
</body>
</html>